




<%= form_for @fotografo , html: { multipart: true } do |f| %>
    
  <p id="pe">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </p>
  <p id="pe">
    <%= f.label :nombrePila %><br>
    <%= f.text_field :nombrePila %>
  </p>
  <p id="pe">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </p>
  <p id="pe">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </p>
  <p id="pe">
    <%= f.label :fechaNacimiento %><br>
    <%= f.text_field :fechaNacimiento %>
  </p>
  <p id="pe">
    <%= f.label :rut %><br>
    <%= f.text_field :rut %>
  </p>
  <p id="pe">
    <%= f.label :email %><br>
    <%= f.text_field  :email %>
  </p>
 
  <p id="pe">
    <%= f.label :comentarios %><br>
    <%= f.text_area  :comentarios %>
  </p>
 
  <p id="pe">
    <%= f.submit %>
   

  </p>


<% end %>




  

